<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	 <a href="{% url 'studentdashboard' %}">Home</a>
    {% if user.is_authenticated %}
        <a  href="{% url 'logout' %}">Logout</a>
      {% else %}
        <a href="{% url 'login' %}">Login</a>
      {% endif %}


	<form role="form" method="POST" action="{% url 'personality:test' %}" enctype="multipart/form-data">
                        {% csrf_token %}
{{form}}
{{data}}
<button type="submit" class="btn btn-primary">{{ "Add" }}</button>
</body>
</html>