<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>


      </form>

      <h1>Please Login</h1>

        <form method="post" action="{% url 'login' %}">
          {% csrf_token %}
          {# A more "HTML" way of creating the login form#}
          <label for="username">Username:</label>
          <input type="text" name="username" placeholder="Username">

          <label for="password"></label>
          <input type="password" name="password">

          <input type="submit" name="" value="Login">

        </form>

</body>
</html>
