
{% extends "recommendation_sys/base.html" %}
{% load static %}
<link type="text/css" href="{% static 'css/ranking.css' %}" rel="stylesheet">

{% block body_block %}

	{% if rankings_KS %}
		
		<p>By result alone</p>
		{% for index, rank, des in rankings_KS %}

		<div class="courses-container">
			<div class="course">
				<div class="course-preview">
					<h6 style="color: #ffffff;font-size: 1.3rem;">#{{index}}</h6>
					<h2 style="color: #ffffff;">{{rank}}</h2>
					
				</div>
				<div class="course-info">
					
					<h6>Description</h6>
					<h2 class="rank-h2" style="font-size: 1.2em;margin-block-start: 0.83em; 
					margin-block-end: 0.83em; margin-inline-start: 0px;margin-inline-end: 0px;
					font-weight: bold;color: #000000;">{{ des }}</h2>
					<!--<button class="btn">Continue</button> -->
				</div>

			</div>
		</div>


		{% endfor %}
		<a href="#">View all Rankings by Academics <i class="fas fa-chevron-right"></i></a>
	{% endif %}

	<a href="#">View all chapters <i class="fas fa-chevron-right"></i></a>
	{% if rankings_P %}

		<p>By personality alone</p>
		{% for index, rank, des in rankings_P %}

		<div class="courses-container">
			<div class="course">
				<div class="course-preview">
					<h6 style="color: #ffffff;font-size: 1.3rem;">#{{index}}</h6>
					<h2 style="color: #ffffff;">{{rank}}</h2>
					
				</div>
				<div class="course-info">
					
					<h6>Description</h6>
					<h2 class="rank-h2" style="font-size: 1.2em;margin-block-start: 0.83em;
					margin-block-end: 0.83em; margin-inline-start: 0px;margin-inline-end: 0px;
					font-weight: bold;color: #000000;">{{ des}}</h2>
					<!--<button class="btn">Continue</button> -->
				</div>

			</div>
		</div>


		{% endfor %}
		<a href="#">View all rankings by Personality <i class="fas fa-chevron-right"></i></a>

		<p>By result and personality</p>
		{% for index, rank, des in rankings_KSP %}

		<div class="courses-container">
			<div class="course">
				<div class="course-preview">
					<h6 style="color: #ffffff;font-size: 1.3rem;">#{{index}}</h6>
					<h2 style="color: #ffffff;">{{rank}}</h2>
					
				</div>
				<div class="course-info">
					
					<h6>Description</h6>
					<h2 class="rank-h2" style="font-size: 1.2em;margin-block-start: 0.83em; 
					margin-block-end: 0.83em; margin-inline-start: 0px;margin-inline-end: 0px;
					font-weight: bold;color: #000000;">{{ des }}</h2>
					<!--<button class="btn">Continue</button> -->
				</div>

			</div>
		</div>


		{% endfor %}


	{% endif %}
	
	<a href="#">View all rankings by Academic and Personalities <i class="fas fa-chevron-right"></i></a>


	<div class="courses-container">
		<div class="course">
			<div class="course-preview">
				<h6 style="color: #ffffff;font-size: 1.3rem;">#1</h6>
				<h2 style="color: #ffffff;">Software Engineering</h2>
				
			</div>
			<div class="course-info">
				
				<h6>Description</h6>
				<h2 class="rank-h2" style="font-size: 1.2em;margin-block-start: 0.83em; 
				margin-block-end: 0.83em; margin-inline-start: 0px;margin-inline-end: 0px;
				font-weight: bold;color: #000000;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos consectetur doloremque modi accusamus voluptates. Id fugiat aliquid cumque facilis veritatis, a, minima iure doloribus deserunt ea, aspernatur nulla quia laudantium.</h2>
				<!--<button class="btn">Continue</button> -->
			</div>
			
		</div>
	</div>

<a href="#">View all chapters <i class="fas fa-chevron-right"></i></a>



{% endblock %}